docker {
    enabled = false
    // platform = 'linux/amd64'
    // runOptions = '-u $(id -u):$(id -g)'
}

conda {
    enabled = true
    useMamba = true
}


wave {
    enabled = false
}

process {
   conda = "${projectDir}/environment.yml"
/Users/didac/github/tRNA-gnomAD/environment.yml//    conda = 'python=3.9 \
// bioconda::bcftools=1.21 \
// bioconda::samtools=1.21 \
// bioconda::pysam=0.22.1 \
// conda-forge::pandas=2.2.3 \
// conda-forge::biopython=1.81 \
// '
}

// Global default params, used in configs
params {
    input = null
    outdir = 'results'
    ref_dir = '/Users/didac/refs/GRCh38.p14'
    fasta_filename = 'GRCh38.p14.genome.fa.gz'
    min_af = 0.01

    GNOMAD_release_version = '4.1'
    GNOMAD_data_type = 'genomes'
    GNOMAD_genome_build = 'GRCh38'
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capture Nextflow log files
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
// dag {
//     enabled = true
//     file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
// }

